/* Basic reset */
body, ul {
    margin: 0;
    padding: 0;
  }
  
  /* Sidebar styles */
  .sidebarold {
    width: auto;
    height: 100%;
    background-color: #ffffff;
    color: #000000;
    position:absolute;
    top: 9% 1rem;
    left: 0;
    padding-top: 5%;
    border-right: #244153 solid 1px;
    border-bottom: #244153 solid 1px;
    z-index: 0;
  }
  .sidebar ul {
    list-style: none;
    padding: 20px;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
  }
  
  .sidebar ul li a {
    color: #000000;
    text-decoration: none;
  }
  
  